@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700;800&display=swap");

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #88ff9a;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #88ff9a;
}
